.backdropImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    filter: blur(8px);
    opacity: 0.5;
    z-index: -99;
}
.posterImage{
    width: 80%;
    border-radius: 20px;
}